# Database
DATABASE_URL=postgresql://user:password@localhost:5432/cervical_ai_db

# JWT
SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# App
APP_ENV=development
DEBUG=True
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:8080

# File storage
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=50

# AI Model
VIT_MODEL_PATH=app/ai_models/vision_models/vit_sipakmed_final.keras
VIT_MODEL_PATH2=app/ai_models/vision_models/vit_tcia_heterogeneidad_final.keras
IMAGE_SIZE=224

# LLM
LLM_PROVIDER=anthropic        # anthropic | openai | mistral | llama | mock
ANTHROPIC_API_KEY=            # requerido si LLM_PROVIDER=anthropic
OPENAI_API_KEY=               # requerido si LLM_PROVIDER=openai
LLAMA_MODEL_PATH=             # requerido si LLM_PROVIDER=llama
